*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    width: 100vw;
    height: 100vh;
    background-image: url("../../../Assets/Images/jaredd-craig-HH4WBGNyltc-unsplash.jpg");
    background-size: contain;
}

.pioneerRegContainer{
    width: 100vw;
    height: 100vh;
    padding-top: 5rem;
}
.pioneerRegForm-ul{
    width: 30vw;
    height: fit-content;
    min-height: 50vh;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.pioneerRegForm-li{
    list-style: none;
    display: flex;
    width: 30vw;
    justify-content: space-around;
    align-items: center;
    position: relative;

        label{
            width: 8vw;
            font-family: 'Times New Roman', Times, serif;
            // font-size: 0.9rem;
        }

        .green{
            color: green;
            position: absolute;
            right: 0;
            font-size: 0.8rem;
        }
        .red{
            color: red;
            position: absolute;
            right: 0;
            font-size: 0.8rem;
        }
}

.pioneerRegForm-li input{
    width: 22vw;
    height: 2.5rem;
    border-radius: 7px;
    border: 2.5px solid rgb(57, 192, 255);
    padding-left: 1.5rem;
}

.pioneerRegForm-li input:focus{
    outline: none;
    border-color: greenyellow;
}

.pioneerRegForm-li input:focus{
    outline: none;
}

// input:disabled
// input:out-of-range

