*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

// .studentDashboardContainer{
//     flex-direction: column;
// }

.studentDashboardAllClasses{
    min-height: 70vh;
}

@media screen and (max-width : 376px) {
    .studentDashboardContainer{
        width: fit-content;
        min-width: 100vw;
    }
    .studentDashboardMajorContainer{
        width: fit-content;
    }
    .allSchoolsHeading{
        margin-top: 2.7rem;
    }
    .studentDashboardAllClasses{
        margin-top: 1.4rem;
        height: fit-content;
    }
    .schoolBox{
        width: 55vw;
    }
}
@media screen and (max-width : 360px) {
    .reloadPage{
        margin-top: 5rem;
        margin-left: 3.5rem;
    }
    .studentDashboardContainer{
        width: fit-content;
        min-width: 100vw;
    }
    .studentDashboardMajorContainer{
        width: fit-content;
    }
    .allSchoolsHeading{
        margin-top: 2.7rem;
    }
    .studentDashboardAllClasses{
        margin-top: 1.4rem;
        height: fit-content;
    }
    .schoolBox{
        width: 55vw;
    }
}