*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.pioneerStudentsMain{
    min-height: 100vh;
    height: max-content;
}
.pioneerStudentsChildMain{
    min-height: 100vh;
    height: fit-content;
    overflow-y: hidden;
}
.pioneerAdmittedStudentsContainer{
    min-height: 100vh;
    padding-bottom: 13rem;
}
.boxContainer{
    display: flex;
    flex-wrap: wrap;
    // width: 100vw;
}
.pioneerStudentBox{
    margin-top: 1rem;
    margin-right: 1rem;
}

@media screen and (max-width : "376px") {
    .pioneerStudentsChildMain{
        min-height: 100vh;
        height: fit-content;
        overflow-y: hidden;
    }
    .pioneerAdmittedStudentsContainer{
        min-height: 100vh;
        padding-bottom: 16rem;
    }
    .boxContainer{
        display: block;
        // width: 100vw;
    }
    .pioneerStudentBox{
        padding-left: 1rem;
        padding-right: 1rem;
        margin-top: 2rem;
    }
}

@media screen and (max-width : "360px") {
    .pioneerStudentsChildMain{
        min-height: 100vh;
        height: fit-content;
        overflow-y: hidden;
    }
    .pioneerAdmittedStudentsContainer{
        min-height: 100vh;
        padding-bottom: 16rem;
    }
    .boxContainer{
        display: block;
        // width: 100vw;
    }
    .pioneerStudentBox{
        padding-left: 1rem;
        padding-right: 1rem;
        margin-top: 2rem;
    }
}