*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.currentAcademicSession{
    font-weight: bold;
}

.startEnd{
    margin-top: 1rem;
    width: 10vw;
    display: flex;
    justify-content: space-around;
    padding-left: 1rem;
    padding-right: 1rem;
}

.singleClassBoxCover{
    min-height: 60vh;
    height: fit-content;
    padding-bottom: 3rem;
}

.singleClassBox{
    min-height: 10rem;
    margin-top: 1rem;
}

.singleClassTimetableContainer{
    width: 60%;
}

.singleClassMainContainer{
    min-height: 120vh;
}

@media screen and (max-width : 376px) {
    .currentAcademicSession{
        margin-top: 3.4rem;
    }
    .startEnd{
        width: fit-content;
        margin-top: 0.5rem;
    }
    .singleClassBoxCover{
        padding-right: 1rem;
    }
    .singleClassBox{
        width: 60vw;
        margin-top: 1rem;
    }
    .singleClassMainContainer{
        min-height: 280vh;
        width: fit-content;
    }
    .singleClassTimetableContainer{
        width: fit-content;
    }
    .timetableSubject{
        left: 12.3rem;
        top: 35rem;
    }
    .singleClassTimetable{
        width: fit-content;
        width: 200vw;
    }
    .showSubjectContainer{
        min-height: 120vh;
    }
    .showSubjectMainContainer{
        margin-top: 1.6rem;
    }
}

@media screen and (max-width : 360px) {
    .pioneerSingleStudentCover{
        overflow-y: hidden;
    }
    .checkNumberOfPioneerStudents{
        margin-bottom: 20rem;
    }
    .checkNumberOfPioneerStudentsBox{
        margin-top: 2rem;
        padding-left: 1rem;
        padding-right: 1rem;
    }
    .currentAcademicSession{
        margin-top: 3.4rem;
    }
    .startEnd{
        width: fit-content;
        margin-top: 0.5rem;
    }
    .singleClassBoxCover{
        padding-right: 1rem;
    }
    .singleClassBox{
        width: 60vw;
        margin-top: 1rem;
    }
    .singleClassMainContainer{
        min-height: 280vh;
        width: fit-content;
    }
    .singleClassTimetableContainer{
        width: fit-content;
    }
    .timetableSubject{
        left: 12.3rem;
        top: 35rem;
    }
    .singleClassTimetable{
        width: fit-content;
        width: 200vw;
    }
    .showSubjectContainer{
        min-height: 120vh;
    }
    .showSubjectMainContainer{
        margin-top: 1.6rem;
    }
}