*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    overflow-x: hidden;
}

.home-container{
    width: 100vw;
    max-width: 1440px;
    height: fit-content;
    min-height: 120vh;
    overflow-x: hidden;

    .first-header-img{
        background-image: url("../../Assets/Images/janko-ferlic-black\ and\ white.jpg");
        background-size: contain;
        width: 100vw;
        height: 100vh;
        position: relative;
        @media screen and (max-width : 376px) {
            background-repeat: no-repeat;
            height: 100vh;
            background-size: cover;
        }
    } 
   
    .header-color-img{
        background-image: url("../../Assets/Images/janko-ferlic-sfL_QOnmy00-unsplash.jpg");
        background-size: contain;
        width: 100vw;
        height: 100vh;
        position: relative;
        @media screen and (max-width : 376px) {
            background-repeat: no-repeat;
            height: 100vh;
            background-size: cover;
        }
    }
   
    .initial-explore{
        opacity: 0;
    }

    .explore{
        position: absolute;
        left: -2rem;
        right: 0;
        background-image: url("../../Assets/Images/save.png");
        background-repeat: no-repeat;
        background-size: cover;
        width: 25vw;
        height: 50vh;
        margin: 2.5rem auto;
        opacity: 1;
        transition: all 3s ease-in-out;
        @media screen and (max-width:376px){
            left: -1.3rem;
            width: 58vw;
            height: 44vh;
            margin: 5.3rem auto;
        }
    }

    .header-group{
        position: absolute;
        right: 0;
        left: 0;
        bottom: 0;
        width: 100vw;
        max-width: 1440px;
        height: 50vh;
        @media screen and (max-width : 376px) {
            height: 29vh;
        }
            .header-up-container{
                position: relative;
                width: 100vw;
                height: 24vh;
                
                @media screen and (max-width : 376px) {
                    height: 9.2vh;
                }
                    .header-up{
                        position: absolute;
                        left: 0;
                        right: 0;
                        bottom: -1rem;
                        display: flex;
                        width: fit-content;
                        margin: auto;
                        // @media screen and (max-width : 376px) {
                        //     bottom: -1.9rem; 
                        // }
                        h1{
                            color: white;
                            display: inline-block;
                            font-size: 15vh;
                            @media screen and (max-width : 376px) {
                                font-size:10vh; 
                            }
                        }
                        img{
                            width: 60px;
                            height: 90px;
                            @media screen and (max-width : 376px) {
                                height: 58px;
                                width: 50px; 
                            }
                        }
        
                    }
            }

            .header-down{
                width: 100vw;
                max-width: 1440px;
                height: 26vh;
                position: relative;
                cursor: pointer;
                @media screen and (max-width:376px){
                        height: 20vh;
                }
                .header-down-color{
                    width: 100vw;
                    max-width: 1440px;
                    height: 26vh;
                    background: black;
                    position: absolute;
                    left: 0;
                    right: 0;
                    top: 0;
                    bottom: 0;
                }

                .auto-words{
                    width: 55vw;
                    height: 17vh;
                    display: flex;
                    justify-content: space-around;
                    margin: auto;
                    align-items: center;
                }
               
                h4{
                    // color: white;
                    font-size: 1.7rem;
                    position: relative;
                    z-index: 100;
                    width: fit-content;
                    font-style: italic;
                }
                @media screen and (max-width:376px){
                    .header-down{
                        height: 20vh;
                    }
                    .header-down-color{
                        height: 20vh;
                    }
                    .auto-words{
                        position: relative;
                        flex-wrap: wrap;
                        justify-content: space-around;
                        width: fit-content;
                        height: fit-content;
                        padding-top: 0.5rem;
                        width: fit-content;
                    }
                    h4{
                        font-size: 1.3rem;
                        font-family: 'Times New Roman', Times, serif;
                    }
                }
              
                .auto-1st{
                    color: white;
                    opacity: 1;
                    transition: color 4s ease-in-out;
                }
                .auto-2nd{
                    color: white;
                    opacity: 1;
                    transition: color 6s ease-in-out;
                }
                .auto-3rd{
                    color: white;
                    opacity: 1;
                    transition: color 8s ease-in-out;
                }
                .auto-4th{
                    color: white;
                    opacity: 1;
                    transition: color 9s ease-in-out;
                }
                .auto-5th{
                    color: white;
                    opacity: 1;
                    transition: color 11s ease-in-out;
                }
                .auto-6th{
                    color: white;
                    opacity: 1;
                    transition: color 13s ease-in-out;
                }
                .auto-7th{
                    color: white;
                    opacity: 1;
                    transition: color 15s ease-in-out;
                }

                .view-community{
                    z-index: 100;
                    background-color: black;
                    width: 15vw;
                    height: 12vh;
                    position: absolute;
                    left: 5rem;
                    top: 3.6rem;
                    opacity: 1;
                    animation: view 2s infinite ease-in-out;
                }

                @keyframes view {
                    from{
                        opacity: 0.3;
                    }
                    to{
                        opacity: 1;
                    }
                } 
                .view-community *{
                    height: 8vh;
                    width: 3vw;
                }
                .view-btn{
                    color: white;
                    font-size: 1rem;
                    width: 8vw;
                    height: 8vh;
                    text-decoration: none;
                }

                @media screen and (max-width : 376px) {
                    .view-community{
                        left: 1rem;
                        top: 2.3rem;
                        width: fit-content;
                    }
                    .view-community *{
                        height: fit-content;
                        width: fit-content;
                        font-size: 0.7rem;
                    }
                }
               
            }
         
           
    }


    .home-showbiz{
        display: flex;
        width: 100vw;
        max-width: 1440px;
        min-height: 100vh;
        height: fit-content;

        @media screen and (max-width : 376px) {
            min-height: 55vh;
        }
            .show1st{
                background-image: url("../../Assets/Images/students-black.jpg");
                width: 20vw;
                height: 100vh;
                background-repeat: no-repeat;
                background-size: cover;
                transition: all 1.5s ease-in-out;

                    .show1stbtn *{
                        color: white;
                        width: 5vw;
                        height: 7vh;
                        cursor: pointer;
                    }
            }

            .changeshow1st{
                background-image: url("../../Assets/Images/students-change.jpg");
                width: 60vw;
                height: 100vh;
                background-repeat: no-repeat;
                background-size: cover;
                transition: all 1.5s ease-in-out;

                .show1stbtn *{
                    color: white;
                    width: 5vw;
                    height: 7vh;
                    cursor: pointer;
                }
            }

            .proprietorContainer{
              color: rgb(187, 255, 255);
            }

            .proprietorContainer:hover{
                color: white;
            }

            .propAndStuContainer{
                transform: translateY(28vh)
            }
            .propAndStuLine{
                height: 2px
            }

            .proprietorText{
                font-family: "serif",
            }
            @media screen and (max-width : "376px"){
                .propAndStuContainer{
                    transform:translateY(8vh)
                }
                .proprietorContainer{
                    height: fit-content;
                    width: fit-content;
                    border-width : 4px;
                    padding-left: 0.6rem;
                }
    
                .studentContainer{
                    width: fit-content;
                    height: fit-content;
                    border-width : 4px;
                    padding-left: 0.6rem;
                }

                .proprietorText{
                    font-size: 1rem;
                    font-weight: 700;
                    line-height: 1.3rem;
                    color: rgb(126, 255, 255);
                    text-shadow: 10px 10px 10px rgb(0,0,0,0.25);
                }
                .studentText{
                    font-size: 1.2rem;
                    line-height: 1.3rem;
                }
                .propAndStuTitle{
                    font-size: 1.4rem;
                    line-height: unset;
                    bottom : 0;
                    left : 1rem;
                }
                .gradCap{
                    font-size : 2.3rem;
                    left : 4rem;
                    bottom : 0
                }
                .propAndStuLine{
                    height: 1px;
                    bottom : 2.1rem
                }
            }
            
            .show2nd{
                background-image: url("../../Assets/Images/man-with-vr-headset-touching-invisible-object.jpg");
                width: 60vw;
                height: 100vh;
                background-repeat: no-repeat;
                background-size: cover;
                transition: all 1.5s ease-in-out;

                .show2ndbtn *{
                    color: white;
                    width: 5vw;
                    height: 7vh;
                    cursor: pointer;
                    font-family: 'Times New Roman', Times, serif;
                }
            }

            .changeshow2nd{
                background-image: url("../../Assets/Images/man-with-vr-headset-changed.jpg");
                width: 20vw;
                height: 100vh;
                background-repeat: no-repeat;
                background-size: cover;
                transition: all 1.5s ease-in-out;

                .show2ndbtn *{
                    color: white;
                    width: 5vw;
                    height: 7vh;
                    cursor: pointer;
                }
            }

         

            .show3rd{
                background-image: url("../../Assets/Images/photo-happy-black-man-changed.jpg");
                width: 20vw;
                height: 100vh;
                background-repeat: no-repeat;
                background-size: cover;
                transition: all 1.5s ease-in-out;

                .show3rdbtn *{
                    color: white;
                    width: 5vw;
                    height: 7vh;
                    cursor: pointer;
                }
            }

            .changeshow3rd{
                background-image: url("../../Assets/Images/photo-happy-black-man-crosses-fingers-good-luck-carries-textbooks-has-toothy-smile-dressed-red-clothes.jpg");
                width: 60vw;
                height: 100vh;
                background-repeat: no-repeat;
                background-size: cover;
                transition: all 1.5s ease-in-out;

                .show3rdbtn *{
                    color: white;
                    width: 5vw;
                    height: 7vh;
                    cursor: pointer;
                }
            }

            @media screen and (max-width : 376px) {
                .show1st{
                height: 55vh;
                width: 10vw;
                }
                .changeshow1st{
                    height: 55vh;
                    width: 80vw;
                }
                .show2nd {
                    width: 80vw;
                    // background-size: contain;
                    height: 55vh;
                }
                .changeshow2nd{
                    // background-size: contain;
                    width: 10vw;
                    height: 55vh;
                }
                .show3rd{
                height: 55vh;
                width: 10vw;
                }
                .changeshow3rd{
                height: 55vh;
                width: 80vw;
                }
            }
    }

}

