*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@media screen and (max-width:376px){
    .themeSettingsBody{
        height : fit-content;
        min-height: 105vh;
        width: 100vw;
    }
}

@media screen and (max-width:360px){
    .themeSettingsBody{
        height : fit-content;
        min-height: 105vh;
        width: 100vw;
    }
}